[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = li6in9muyou
	email = libq5520@mails.jlu.edu.cn
[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
	s = diff --stat
	sp = s --patch
	sa = status --branch --short
	ss = s --staged
	ssp = ss --patch
	c = commit -m
	lg = log --color --graph \
		--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' \
		--abbrev-commit --all -n 15
	newbranch = for-each-ref --sort='-committerdate:iso8601' --format='%(committerdate:relative)%09%(refname)' refs/remotes
[http]
	proxy = http://127.0.0.1:8556
	postBuffer = 524288000
[credential "https://gitee.com"]
	provider = generic
[credential "https://code.fineres.com"]
	provider = bitbucket
[safe]
	directory = D:/projects/git--dotfiles
	directory = ~/projects/git--dotfiles
	directory = C:/Users/Li6q/projects/git--dotfiles
